.site-wrap { max-width: $site-width; margin-left:auto; margin-right:auto; }

.w-100 { width: 100%; min-width:100%; }
.w-90 { width: 90%; min-width:90%; }
.w-85 { width: 85%; min-width:85%; }
.w-80 { width: 80%; min-width:80%; }
.w-75 { width: 75%; min-width:75%; }
.w-70 { width: 70%; min-width:70%; }
.w-66 { width: 66.666%; min-width:66.666%;}
.w-65 { width: 65%; min-width:65%; }
.w-60 { width: 60%; min-width:60%; }
.w-55 { width: 55%; min-width:55%; }
.w-50 { width: 50%; min-width:50%; }
.w-45 { width: 45%; min-width:45%; }
.w-40 { width: 40%; min-width:40%; }
.w-35 { width: 35%; min-width:35%; }
.w-33 { width: 33.333%; min-width:33.333%;}
.w-30 { width: 30%; min-width:30%; }
.w-25 { width: 25%; min-width:25%; }
.w-20 { width: 20%; min-width:20%; }
.w-15 { width: 15%; min-width:15%; }
.w-10 { width: 10%; min-width:10%; }
.w-1-8 { width: 12.5%; min-width:12.5%;}
.w-1-6 { width: 16.6667%; min-width: 16.6667%; }

.w-max { max-width:100%; }

@include md-view { @include setWidths('md') }
@include lg-view { @include setWidths('lg') }
@include xl-view { @include setWidths('xl') }
@include sm-view { @include setWidths('sm') }
@include xs-view { @include setWidths('xs') }