/* @include spacing-padding('sm','1', '1 rem'); */
*, *::before, *::after { box-sizing: border-box; }

html { font-family: sans-serif; line-height: 1.15; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -ms-overflow-style: scrollbar; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

@-ms-viewport { width: device-width; }

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section { display: block; }

body { margin: 0; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; font-size: 1rem; font-weight: 400; line-height: 1.5; color: #212529; text-align: left; background-color: #fff; }

[tabindex="-1"]:focus { outline: 0 !important; }

hr { box-sizing: content-box; height: 0; overflow: visible; }

h1, h2, h3, h4, h5, h6 { margin-top: 0; margin-bottom: 0.5rem; }

p { margin-top: 0; margin-bottom: 1rem; }

abbr[title], abbr[data-original-title] { text-decoration: underline; -webkit-text-decoration: underline dotted; text-decoration: underline dotted; cursor: help; border-bottom: 0; }

address { margin-bottom: 1rem; font-style: normal; line-height: inherit; }

ol, ul, dl { margin-top: 0; margin-bottom: 1rem; }

ol ol, ul ul, ol ul, ul ol { margin-bottom: 0; }

dt { font-weight: 700; }

dd { margin-bottom: .5rem; margin-left: 0; }

blockquote { margin: 0 0 1rem; }

dfn { font-style: italic; }

b, strong { font-weight: bolder; }

small { font-size: 80%; }

sub, sup { position: relative; font-size: 75%; line-height: 0; vertical-align: baseline; }

sub { bottom: -.25em; }

sup { top: -.5em; }

a { color: #007bff; text-decoration: none; background-color: transparent; -webkit-text-decoration-skip: objects; }

a:hover { color: #0056b3; text-decoration: underline; }

a:not([href]):not([tabindex]) { color: inherit; text-decoration: none; }

a:not([href]):not([tabindex]):hover, a:not([href]):not([tabindex]):focus { color: inherit; text-decoration: none; }

a:not([href]):not([tabindex]):focus { outline: 0; }

pre, code, kbd, samp { font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; font-size: 1em; }

pre { margin-top: 0; margin-bottom: 1rem; overflow: auto; -ms-overflow-style: scrollbar; }

figure { margin: 0 0 1rem; }

img { vertical-align: middle; border-style: none; }

svg { overflow: hidden; vertical-align: middle; }

table { border-collapse: collapse; }

caption { padding-top: 0.75rem; padding-bottom: 0.75rem; color: #6c757d; text-align: left; caption-side: bottom; }

th { text-align: inherit; }

label { display: inline-block; margin-bottom: 0.5rem; }

button { border-radius: 0; }

button:focus { outline: 1px dotted; outline: 5px auto -webkit-focus-ring-color; }

input, button, select, optgroup, textarea { margin: 0; font-family: inherit; font-size: inherit; line-height: inherit; }

button, input { overflow: visible; }

button, select { text-transform: none; }

button, html [type="button"], [type="reset"], [type="submit"] { -webkit-appearance: button; }

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner { padding: 0; border-style: none; }

input[type="radio"], input[type="checkbox"] { box-sizing: border-box; padding: 0; }

input[type="date"], input[type="time"], input[type="datetime-local"], input[type="month"] { -webkit-appearance: listbox; }

textarea { overflow: auto; resize: vertical; }

fieldset { min-width: 0; padding: 0; margin: 0; border: 0; }

legend { display: block; width: 100%; max-width: 100%; padding: 0; margin-bottom: .5rem; font-size: 1.5rem; line-height: inherit; color: inherit; white-space: normal; }

progress { vertical-align: baseline; }

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button { height: auto; }

[type="search"] { outline-offset: -2px; -webkit-appearance: none; }

[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

::-webkit-file-upload-button { font: inherit; -webkit-appearance: button; }

output { display: inline-block; }

summary { display: list-item; cursor: pointer; }

template { display: none; }

[hidden] { display: none !important; }

.pos-rel { position: relative; }

.pos-abs { position: absolute; }

.pos-fix { position: fixed; }

.pos-top { top: 0; }

.pos-right { right: 0; }

.pos-bottom { bottom: 0; }

.pos-left { left: 0; }

.z-1 { z-index: 1; }

.z-2 { z-index: 2; }

.z-3 { z-index: 3; }

.z-4 { z-index: 4; }

.z-top { z-index: 50000; }

.centered { margin-left: auto; margin-right: auto; }

.center-block { display: block; margin-left: auto; margin-right: auto; }

@media (max-width: 767px) { .sm-centered { margin-left: auto; margin-right: auto; }
  .sm-center-block { display: block; margin-left: auto; margin-right: auto; } }

@media (max-width: 535px) { .xs-centered { margin-left: auto; margin-right: auto; }
  .xs-center-block { display: block; margin-left: auto; margin-right: auto; } }

.flex { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; }

.flex-col { -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; }

.flex-wrap { -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.flex-grid { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.flex-grow { -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; }

/* ITEMS IN SINGLE ROW - APPLIES TO CROSS AXIS */
.items-start { -webkit-box-align: start; -webkit-align-items: flex-start; -ms-flex-align: start; -ms-grid-row-align: flex-start; align-items: flex-start; }

.items-end { -webkit-box-align: end; -webkit-align-items: flex-end; -ms-flex-align: end; -ms-grid-row-align: flex-end; align-items: flex-end; }

.items-center { -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; -ms-grid-row-align: center; align-items: center; }

.items-baseline { -webkit-box-align: baseline; -webkit-align-items: baseline; -ms-flex-align: baseline; -ms-grid-row-align: baseline; align-items: baseline; }

.items-stretch { -webkit-box-align: stretch; -webkit-align-items: stretch; -ms-flex-align: stretch; -ms-grid-row-align: stretch; align-items: stretch; }

/* ITEMS IN WRAPPED ROW  - CROSS AXIS - NO EFFECT ON SINGLE LINE ROW */
.content-start { -webkit-align-content: flex-start; -ms-flex-line-pack: start; align-content: flex-start; }

.content-end { -webkit-align-content: flex-end; -ms-flex-line-pack: end; align-content: flex-end; }

.content-center { -webkit-align-content: center; -ms-flex-line-pack: center; align-content: center; }

.content-between { -webkit-align-content: space-between; -ms-flex-line-pack: justify; align-content: space-between; }

.content-around { -webkit-align-content: space-around; -ms-flex-line-pack: distribute; align-content: space-around; }

.content-stretch { -webkit-align-content: stretch; -ms-flex-line-pack: stretch; align-content: stretch; }

.justify-start { -webkit-box-pack: start; -webkit-justify-content: flex-start; -ms-flex-pack: start; justify-content: flex-start; }

.justify-end { -webkit-box-pack: end; -webkit-justify-content: flex-end; -ms-flex-pack: end; justify-content: flex-end; }

.justify-center { -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; }

.justify-between, .flex-spread { -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; }

.justify-around { -webkit-justify-content: space-around; -ms-flex-pack: distribute; justify-content: space-around; }

/* ONLY APPLIES TO INDIVIDUAL ELEMENTS */
.self-start { -webkit-align-self: flex-start; -ms-flex-item-align: start; align-self: flex-start; }

.self-end { -webkit-align-self: flex-end; -ms-flex-item-align: end; align-self: flex-end; }

.self-center { -webkit-align-self: center; -ms-flex-item-align: center; align-self: center; }

.self-baseline { -webkit-align-self: baseline; -ms-flex-item-align: baseline; align-self: baseline; }

.self-stretch { -webkit-align-self: stretch; -ms-flex-item-align: stretch; align-self: stretch; }

.order-first { -webkit-box-ordinal-group: 1; -webkit-order: 0; -ms-flex-order: 0; order: 0; }

.order-1 { -webkit-box-ordinal-group: 2; -webkit-order: 1; -ms-flex-order: 1; order: 1; }

.order-2 { -webkit-box-ordinal-group: 3; -webkit-order: 2; -ms-flex-order: 2; order: 2; }

.order-3 { -webkit-box-ordinal-group: 4; -webkit-order: 3; -ms-flex-order: 3; order: 3; }

.order-last { -webkit-box-ordinal-group: 100000; -webkit-order: 99999; -ms-flex-order: 99999; order: 99999; }

@media (max-width: 767px) { .sm-order-first { -webkit-box-ordinal-group: 1; -webkit-order: 0; -ms-flex-order: 0; order: 0; }
  .sm-order-1 { -webkit-box-ordinal-group: 2; -webkit-order: 1; -ms-flex-order: 1; order: 1; }
  .sm-order-2 { -webkit-box-ordinal-group: 3; -webkit-order: 2; -ms-flex-order: 2; order: 2; }
  .sm-order-3 { -webkit-box-ordinal-group: 4; -webkit-order: 3; -ms-flex-order: 3; order: 3; }
  .sm-order-last { -webkit-box-ordinal-group: 100000; -webkit-order: 99999; -ms-flex-order: 99999; order: 99999; } }

@media (max-width: 535px) { .xs-order-first { -webkit-box-ordinal-group: 1; -webkit-order: 0; -ms-flex-order: 0; order: 0; }
  .xs-order-1 { -webkit-box-ordinal-group: 2; -webkit-order: 1; -ms-flex-order: 1; order: 1; }
  .xs-order-2 { -webkit-box-ordinal-group: 3; -webkit-order: 2; -ms-flex-order: 2; order: 2; }
  .xs-order-3 { -webkit-box-ordinal-group: 4; -webkit-order: 3; -ms-flex-order: 3; order: 3; }
  .xs-order-last { -webkit-box-ordinal-group: 100000; -webkit-order: 99999; -ms-flex-order: 99999; order: 99999; } }

.site-wrap { max-width: 1200px; margin-left: auto; margin-right: auto; }

.w-100 { width: 100%; min-width: 100%; }

.w-90 { width: 90%; min-width: 90%; }

.w-85 { width: 85%; min-width: 85%; }

.w-80 { width: 80%; min-width: 80%; }

.w-75 { width: 75%; min-width: 75%; }

.w-70 { width: 70%; min-width: 70%; }

.w-66, .w-2-3 { width: 66.666%; min-width: 66.666%; }

.w-65 { width: 65%; min-width: 65%; }

.w-60 { width: 60%; min-width: 60%; }

.w-55 { width: 55%; min-width: 55%; }

.w-50, .w-1-2 { width: 50%; min-width: 50%; }

.w-45 { width: 45%; min-width: 45%; }

.w-40 { width: 40%; min-width: 40%; }

.w-35 { width: 35%; min-width: 35%; }

.w-33, .w-1-3 { width: 33.333%; min-width: 33.333%; }

.w-30 { width: 30%; min-width: 30%; }

.w-25, .w-1-4 { width: 25%; min-width: 25%; }

.w-20, .w-1-5 { width: 20%; min-width: 20%; }

.w-15 { width: 15%; min-width: 15%; }

.w-10 { width: 10%; min-width: 10%; }

.w-1-8 { width: 12.5%; min-width: 12.5%; }

.w-1-6 { width: 16.6667%; min-width: 16.6667%; }

.w-max { max-width: 100%; }

@media (min-width: 768px) { .md-w-100 { width: 100%; min-width: 100%; }
  .md-w-90 { width: 90%; min-width: 90%; }
  .md-w-85 { width: 85%; min-width: 85%; }
  .md-w-80 { width: 80%; min-width: 80%; }
  .md-w-75 { width: 75%; min-width: 75%; }
  .md-w-70 { width: 70%; min-width: 70%; }
  .md-w-66, .w-2-3 { width: 66.666%; min-width: 66.666%; }
  .md-w-65 { width: 65%; min-width: 65%; }
  .md-w-60 { width: 60%; min-width: 60%; }
  .md-w-55 { width: 55%; min-width: 55%; }
  .md-w-50, .w-1-2 { width: 50%; min-width: 50%; }
  .md-w-45 { width: 45%; min-width: 45%; }
  .md-w-40 { width: 40%; min-width: 40%; }
  .md-w-35 { width: 35%; min-width: 35%; }
  .md-w-33, .w-1-3 { width: 33.333%; min-width: 33.333%; }
  .md-w-30 { width: 30%; min-width: 30%; }
  .md-w-25, .w-1-4 { width: 25%; min-width: 25%; }
  .md-w-20, .w-1-5 { width: 20%; min-width: 20%; }
  .md-w-15 { width: 15%; min-width: 15%; }
  .md-w-10 { width: 10%; min-width: 10%; }
  .md-w-1-8 { width: 12.5%; min-width: 12.5%; }
  .md-w-1-6 { width: 16.6667%; min-width: 16.6667%; } }

@media (min-width: 992px) { .lg-w-100 { width: 100%; min-width: 100%; }
  .lg-w-90 { width: 90%; min-width: 90%; }
  .lg-w-85 { width: 85%; min-width: 85%; }
  .lg-w-80 { width: 80%; min-width: 80%; }
  .lg-w-75 { width: 75%; min-width: 75%; }
  .lg-w-70 { width: 70%; min-width: 70%; }
  .lg-w-66, .w-2-3 { width: 66.666%; min-width: 66.666%; }
  .lg-w-65 { width: 65%; min-width: 65%; }
  .lg-w-60 { width: 60%; min-width: 60%; }
  .lg-w-55 { width: 55%; min-width: 55%; }
  .lg-w-50, .w-1-2 { width: 50%; min-width: 50%; }
  .lg-w-45 { width: 45%; min-width: 45%; }
  .lg-w-40 { width: 40%; min-width: 40%; }
  .lg-w-35 { width: 35%; min-width: 35%; }
  .lg-w-33, .w-1-3 { width: 33.333%; min-width: 33.333%; }
  .lg-w-30 { width: 30%; min-width: 30%; }
  .lg-w-25, .w-1-4 { width: 25%; min-width: 25%; }
  .lg-w-20, .w-1-5 { width: 20%; min-width: 20%; }
  .lg-w-15 { width: 15%; min-width: 15%; }
  .lg-w-10 { width: 10%; min-width: 10%; }
  .lg-w-1-8 { width: 12.5%; min-width: 12.5%; }
  .lg-w-1-6 { width: 16.6667%; min-width: 16.6667%; } }

@media (min-width: 1200px) { .xl-w-100 { width: 100%; min-width: 100%; }
  .xl-w-90 { width: 90%; min-width: 90%; }
  .xl-w-85 { width: 85%; min-width: 85%; }
  .xl-w-80 { width: 80%; min-width: 80%; }
  .xl-w-75 { width: 75%; min-width: 75%; }
  .xl-w-70 { width: 70%; min-width: 70%; }
  .xl-w-66, .w-2-3 { width: 66.666%; min-width: 66.666%; }
  .xl-w-65 { width: 65%; min-width: 65%; }
  .xl-w-60 { width: 60%; min-width: 60%; }
  .xl-w-55 { width: 55%; min-width: 55%; }
  .xl-w-50, .w-1-2 { width: 50%; min-width: 50%; }
  .xl-w-45 { width: 45%; min-width: 45%; }
  .xl-w-40 { width: 40%; min-width: 40%; }
  .xl-w-35 { width: 35%; min-width: 35%; }
  .xl-w-33, .w-1-3 { width: 33.333%; min-width: 33.333%; }
  .xl-w-30 { width: 30%; min-width: 30%; }
  .xl-w-25, .w-1-4 { width: 25%; min-width: 25%; }
  .xl-w-20, .w-1-5 { width: 20%; min-width: 20%; }
  .xl-w-15 { width: 15%; min-width: 15%; }
  .xl-w-10 { width: 10%; min-width: 10%; }
  .xl-w-1-8 { width: 12.5%; min-width: 12.5%; }
  .xl-w-1-6 { width: 16.6667%; min-width: 16.6667%; } }

@media (max-width: 767px) { .sm-w-100 { width: 100%; min-width: 100%; }
  .sm-w-90 { width: 90%; min-width: 90%; }
  .sm-w-85 { width: 85%; min-width: 85%; }
  .sm-w-80 { width: 80%; min-width: 80%; }
  .sm-w-75 { width: 75%; min-width: 75%; }
  .sm-w-70 { width: 70%; min-width: 70%; }
  .sm-w-66, .w-2-3 { width: 66.666%; min-width: 66.666%; }
  .sm-w-65 { width: 65%; min-width: 65%; }
  .sm-w-60 { width: 60%; min-width: 60%; }
  .sm-w-55 { width: 55%; min-width: 55%; }
  .sm-w-50, .w-1-2 { width: 50%; min-width: 50%; }
  .sm-w-45 { width: 45%; min-width: 45%; }
  .sm-w-40 { width: 40%; min-width: 40%; }
  .sm-w-35 { width: 35%; min-width: 35%; }
  .sm-w-33, .w-1-3 { width: 33.333%; min-width: 33.333%; }
  .sm-w-30 { width: 30%; min-width: 30%; }
  .sm-w-25, .w-1-4 { width: 25%; min-width: 25%; }
  .sm-w-20, .w-1-5 { width: 20%; min-width: 20%; }
  .sm-w-15 { width: 15%; min-width: 15%; }
  .sm-w-10 { width: 10%; min-width: 10%; }
  .sm-w-1-8 { width: 12.5%; min-width: 12.5%; }
  .sm-w-1-6 { width: 16.6667%; min-width: 16.6667%; } }

@media (max-width: 535px) { .xs-w-100 { width: 100%; min-width: 100%; }
  .xs-w-90 { width: 90%; min-width: 90%; }
  .xs-w-85 { width: 85%; min-width: 85%; }
  .xs-w-80 { width: 80%; min-width: 80%; }
  .xs-w-75 { width: 75%; min-width: 75%; }
  .xs-w-70 { width: 70%; min-width: 70%; }
  .xs-w-66, .w-2-3 { width: 66.666%; min-width: 66.666%; }
  .xs-w-65 { width: 65%; min-width: 65%; }
  .xs-w-60 { width: 60%; min-width: 60%; }
  .xs-w-55 { width: 55%; min-width: 55%; }
  .xs-w-50, .w-1-2 { width: 50%; min-width: 50%; }
  .xs-w-45 { width: 45%; min-width: 45%; }
  .xs-w-40 { width: 40%; min-width: 40%; }
  .xs-w-35 { width: 35%; min-width: 35%; }
  .xs-w-33, .w-1-3 { width: 33.333%; min-width: 33.333%; }
  .xs-w-30 { width: 30%; min-width: 30%; }
  .xs-w-25, .w-1-4 { width: 25%; min-width: 25%; }
  .xs-w-20, .w-1-5 { width: 20%; min-width: 20%; }
  .xs-w-15 { width: 15%; min-width: 15%; }
  .xs-w-10 { width: 10%; min-width: 10%; }
  .xs-w-1-8 { width: 12.5%; min-width: 12.5%; }
  .xs-w-1-6 { width: 16.6667%; min-width: 16.6667%; } }

.list-flat, .list-flat ul { margin-left: 0; padding-left: 0; list-style: none; }

.list-flat.horizontal li { display: inline; }

.list-2-up li { width: 50% !important; min-width: 50% !important; }

.list-3-up li { width: 33.333% !important; min-width: 33.333% !important; }

.list-4-up li { width: 25% !important; min-width: 25% !important; }

.list-5-up li { width: 20% !important; min-width: 20% !important; }

.list-6-up li { width: 16.6667% !important; min-width: 16.6667% !important; }

@media (max-width: 535px) { .xs-list-2-up li { width: 50% !important; min-width: 50% !important; }
  .xs-list-3-up li { width: 33.333% !important; min-width: 33.333% !important; }
  .xs-list-4-up li { width: 25% !important; min-width: 25% !important; }
  .xs-list-5-up li { width: 20% !important; min-width: 20% !important; }
  .xs-list-6-up li { width: 16.6667% !important; min-width: 16.6667% !important; } }

.ltr-spc { letter-spacing: 0.05rem; }

.lh-1 { line-height: 1 !important; }

.lh-13 { line-height: 1.3; }

.lh-14 { line-height: 1.4; }

.lh-15 { line-height: 1.5; }

.lh-16 { line-height: 1.6; }

.lh-17 { line-height: 1.7; }

.lh-18 { line-height: 1.8; }

.lh-19 { line-height: 1.9; }

.lh-2 { line-height: 2; }

.fw-200 { font-weight: 200 !important; }

.fw-300 { font-weight: 300 !important; }

.fw-400 { font-weight: 400 !important; }

.fw-500 { font-weight: 500 !important; }

.fw-600 { font-weight: 600 !important; }

.fw-700 { font-weight: 700 !important; }

.fw-900 { font-weight: 900 !important; }

.fs-25 { font-size: 25% !important; }

.fs-30 { font-size: 30% !important; }

.fs-35 { font-size: 35% !important; }

.fs-40 { font-size: 40% !important; }

.fs-45 { font-size: 45% !important; }

.fs-50 { font-size: 50% !important; }

.fs-55 { font-size: 55% !important; }

.fs-60 { font-size: 60% !important; }

.fs-65 { font-size: 65% !important; }

.fs-70 { font-size: 70% !important; }

.fs-75 { font-size: 75% !important; }

.fs-80 { font-size: 80% !important; }

.fs-85 { font-size: 85% !important; }

.fs-90 { font-size: 90% !important; }

.fs-95 { font-size: 95% !important; }

.fs-100 { font-size: 100% !important; }

.fs-105 { font-size: 105% !important; }

.fs-110 { font-size: 110% !important; }

.fs-115 { font-size: 115% !important; }

.fs-120 { font-size: 120% !important; }

.fs-125 { font-size: 125% !important; }

.fs-130 { font-size: 130% !important; }

.fs-135 { font-size: 135% !important; }

.fs-140 { font-size: 140% !important; }

.fs-145 { font-size: 145% !important; }

.fs-150 { font-size: 150% !important; }

.fs-160 { font-size: 160% !important; }

.fs-170 { font-size: 170% !important; }

.fs-180 { font-size: 180% !important; }

.fs-190 { font-size: 190% !important; }

.fs-200 { font-size: 200% !important; }

.fs-210 { font-size: 210% !important; }

.fs-220 { font-size: 220% !important; }

.fs-230 { font-size: 230% !important; }

.fs-240 { font-size: 240% !important; }

.fs-250 { font-size: 250% !important; }

.fs-260 { font-size: 260% !important; }

.fs-270 { font-size: 270% !important; }

.fs-280 { font-size: 280% !important; }

.fs-290 { font-size: 290% !important; }

.fs-300 { font-size: 300% !important; }

.text-uc { text-transform: uppercase !important; }

.text-left { text-align: left; }

.text-center { text-align: center; }

.text-right { text-align: right; }

@media (max-width: 767px) { .sm-text-left { text-align: left; }
  .sm-text-center { text-align: center; }
  .sm-text-right { text-align: right; } }

@media (max-width: 535px) { .xs-text-left { text-align: left; }
  .xs-text-center { text-align: center; }
  .xs-text-right { text-align: right; } }

.zero-all, .zero { margin: 0 !important; padding: 0 !important; }

.zero-top { margin-top: 0 !important; padding-top: 0 !important; }

.zero-bottom { margin-bottom: 0 !important; padding-bottom: 0 !important; }

.zero-left { margin-left: 0 !important; padding-left: 0 !important; }

.zero-right { margin-right: 0 !important; padding-right: 0 !important; }

.zero-vertical { margin-top: 0 !important; padding-top: 0 !important; margin-bottom: 0 !important; padding-bottom: 0 !important; }

.zero-sides { margin-left: 0 !important; padding-left: 0 !important; margin-right: 0 !important; margin-right: 0 !important; }

.zero-spc { margin: 0 !important; }

.zero-spc-top { margin-top: 0 !important; }

.zero-spc-bottom { margin-bottom: 0 !important; }

.zero-spc-vertical { margin-top: 0 !important; margin-bottom: 0 !important; }

.zero-spc-sides { margin-left: 0 !important; margin-right: 0 !important; }

.zero-spc-left { margin-left: 0 !important; }

.zero-spc-right { margin-right: 0 !important; }

.zero-pad { padding: 0 !important; }

.zero-pad-top { padding-top: 0 !important; }

.zero-pad-bottom { padding-bottom: 0 !important; }

.zero-pad-vertical { padding-top: 0 !important; padding-bottom: 0 !important; }

.zero-pad-sides { padding-left: 0 !important; padding-right: 0 !important; }

.zero-pad-left { padding-left: 0 !important; }

.zero-pad-right { padding-right: 0 !important; }

.pad { padding: 0.5rem !important; }

.pad-1 { padding: 1rem !important; }

.pad-2 { padding: 2rem !important; }

.pad-3 { padding: 3rem !important; }

.pad-top { padding-top: 0.5rem !important; }

.pad-top-1 { padding-top: 1rem !important; }

.pad-top-2 { padding-top: 2rem !important; }

.pad-top-3 { padding-top: 3rem !important; }

.pad-bottom { padding-bottom: 0.5rem !important; }

.pad-bottom-1 { padding-bottom: 1rem !important; }

.pad-bottom-2 { padding-bottom: 2rem !important; }

.pad-bottom-3 { padding-bottom: 3rem !important; }

.pad-vertical { padding-top: 0.5rem !important; padding-bottom: 0.5rem !important; }

.pad-vertical-1 { padding-top: 1rem !important; padding-bottom: 1rem !important; }

.pad-vertical-2 { padding-top: 2rem !important; padding-bottom: 2rem !important; }

.pad-vertical-3 { padding-top: 3rem !important; padding-bottom: 3rem !important; }

.pad-left { padding-left: 0.5rem !important; }

.pad-left-1 { padding-left: 1rem !important; }

.pad-left-2 { padding-left: 2rem !important; }

.pad-left-3 { padding-left: 3rem !important; }

.pad-right { padding-right: 0.5rem !important; }

.pad-right-1 { padding-right: 1rem !important; }

.pad-right-2 { padding-right: 2rem !important; }

.pad-right-3 { padding-right: 3rem !important; }

.pad-sides-1 { padding-left: 1rem !important; padding-right: 1rem !important; }

.pad-sides-2 { padding-left: 2rem !important; padding-right: 2rem !important; }

.pad-sides-3 { padding-left: 3rem !important; padding-right: 3rem !important; }

.spc { margin: 0.5rem !important; }

.spc-1 { margin: 1rem !important; }

.spc-2 { margin: 2rem !important; }

.spc-3 { margin: 3rem !important; }

.spc-top { margin-top: 0.5rem !important; }

.spc-top-1 { margin-top: 1rem !important; }

.spc-top-2 { margin-top: 2rem !important; }

.spc-top-3 { margin-top: 3rem !important; }

.spc-bottom { margin-bottom: 0.5rem !important; }

.spc-bottom-1 { margin-bottom: 1rem !important; }

.spc-bottom-2 { margin-bottom: 2rem !important; }

.spc-bottom-3 { margin-bottom: 3rem !important; }

.spc-vertical { margin-top: 0.5rem !important; margin-bottom: 0.5rem !important; }

.spc-vertical-1 { margin-top: 1rem !important; margin-bottom: 1rem !important; }

.spc-vertical-2 { margin-top: 2rem !important; margin-bottom: 2rem !important; }

.spc-vertical-3 { margin-top: 3rem !important; margin-bottom: 3rem !important; }

.spc-left { margin-left: 0.5rem !important; }

.spc-left-1 { margin-left: 1rem !important; }

.spc-left-2 { margin-left: 2rem !important; }

.spc-left-3 { margin-left: 3rem !important; }

.spc-right { margin-right: 0.5rem !important; }

.spc-right-1 { margin-right: 1rem !important; }

.spc-right-2 { margin-right: 2rem !important; }

.spc-right-3 { margin-right: 3rem !important; }

.spc-sides { margin-left: 0.5rem !important; margin-right: 0.5rem !important; }

.spc-sides-1 { margin-left: 1rem !important; margin-right: 1rem !important; }

.spc-sides-2 { margin-left: 2rem !important; margin-right: 2rem !important; }

.spc-sides-3 { margin-left: 3rem !important; margin-right: 3rem !important; }

@media (min-width: 768px) { .md-pad-top { padding-top: 0.5rem !important; }
  .md-pad-bottom { padding-bottom: 0.5rem !important; }
  .md-pad-vert { padding-top: 0.5rem !important; padding-bottom: 0.5rem !important; }
  .md-pad-left { padding-left: 0.5rem !important; }
  .md-pad-right { padding-right: 0.5rem !important; }
  .md-pad-sides { padding-left: 0.5rem !important; padding-right: 0.5rem !important; }
  .md-pad { padding: 0.5rem !important; }
  .md-spc-top { margin-top: 0.5rem !important; }
  .md-spc-bottom { margin-bottom: 0.5rem !important; }
  .md-spc-vert { margin-top: 0.5rem !important; margin-bottom: 0.5rem !important; }
  .md-spc-left { margin-left: 0.5rem !important; }
  .md-spc-right { margin-right: 0.5rem !important; }
  .md-spc-sides { margin-left: 0.5rem !important; margin-right: 0.5rem !important; }
  .md-spc { margin: 0.5rem !important; padding: 0.5rem !important; }
  .md-pad-top-1 { padding-top: 1rem !important; }
  .md-pad-bottom-1 { padding-bottom: 1rem !important; }
  .md-pad-vert-1 { padding-top: 1rem !important; padding-bottom: 1rem !important; }
  .md-pad-left-1 { padding-left: 1rem !important; }
  .md-pad-right-1 { padding-right: 1rem !important; }
  .md-pad-sides-1 { padding-left: 1rem !important; padding-right: 1rem !important; }
  .md-pad-1 { padding: 1rem !important; }
  .md-spc-top-1 { margin-top: 1rem !important; }
  .md-spc-bottom-1 { margin-bottom: 1rem !important; }
  .md-spc-vert-1 { margin-top: 1rem !important; margin-bottom: 1rem !important; }
  .md-spc-left-1 { margin-left: 1rem !important; }
  .md-spc-right-1 { margin-right: 1rem !important; }
  .md-spc-sides-1 { margin-left: 1rem !important; margin-right: 1rem !important; }
  .md-spc-1 { margin: 1rem !important; padding: 1rem !important; }
  .md-pad-top-2 { padding-top: 2rem !important; }
  .md-pad-bottom-2 { padding-bottom: 2rem !important; }
  .md-pad-vert-2 { padding-top: 2rem !important; padding-bottom: 2rem !important; }
  .md-pad-left-2 { padding-left: 2rem !important; }
  .md-pad-right-2 { padding-right: 2rem !important; }
  .md-pad-sides-2 { padding-left: 2rem !important; padding-right: 2rem !important; }
  .md-pad-2 { padding: 2rem !important; }
  .md-spc-top-2 { margin-top: 2rem !important; }
  .md-spc-bottom-2 { margin-bottom: 2rem !important; }
  .md-spc-vert-2 { margin-top: 2rem !important; margin-bottom: 2rem !important; }
  .md-spc-left-2 { margin-left: 2rem !important; }
  .md-spc-right-2 { margin-right: 2rem !important; }
  .md-spc-sides-2 { margin-left: 2rem !important; margin-right: 2rem !important; }
  .md-spc-2 { margin: 2rem !important; padding: 2rem !important; }
  .md-pad-top-3 { padding-top: 3rem !important; }
  .md-pad-bottom-3 { padding-bottom: 3rem !important; }
  .md-pad-vert-3 { padding-top: 3rem !important; padding-bottom: 3rem !important; }
  .md-pad-left-3 { padding-left: 3rem !important; }
  .md-pad-right-3 { padding-right: 3rem !important; }
  .md-pad-sides-3 { padding-left: 3rem !important; padding-right: 3rem !important; }
  .md-pad-3 { padding: 3rem !important; }
  .md-spc-top-3 { margin-top: 3rem !important; }
  .md-spc-bottom-3 { margin-bottom: 3rem !important; }
  .md-spc-vert-3 { margin-top: 3rem !important; margin-bottom: 3rem !important; }
  .md-spc-left-3 { margin-left: 3rem !important; }
  .md-spc-right-3 { margin-right: 3rem !important; }
  .md-spc-sides-3 { margin-left: 3rem !important; margin-right: 3rem !important; }
  .md-spc-3 { margin: 3rem !important; padding: 3rem !important; } }

@media (max-width: 767px) { .sm-pad-top { padding-top: 0.5rem !important; }
  .sm-pad-bottom { padding-bottom: 0.5rem !important; }
  .sm-pad-vert { padding-top: 0.5rem !important; padding-bottom: 0.5rem !important; }
  .sm-pad-left { padding-left: 0.5rem !important; }
  .sm-pad-right { padding-right: 0.5rem !important; }
  .sm-pad-sides { padding-left: 0.5rem !important; padding-right: 0.5rem !important; }
  .sm-pad { padding: 0.5rem !important; }
  .sm-spc-top { margin-top: 0.5rem !important; }
  .sm-spc-bottom { margin-bottom: 0.5rem !important; }
  .sm-spc-vert { margin-top: 0.5rem !important; margin-bottom: 0.5rem !important; }
  .sm-spc-left { margin-left: 0.5rem !important; }
  .sm-spc-right { margin-right: 0.5rem !important; }
  .sm-spc-sides { margin-left: 0.5rem !important; margin-right: 0.5rem !important; }
  .sm-spc { margin: 0.5rem !important; padding: 0.5rem !important; }
  .sm-pad-top-1 { padding-top: 1rem !important; }
  .sm-pad-bottom-1 { padding-bottom: 1rem !important; }
  .sm-pad-vert-1 { padding-top: 1rem !important; padding-bottom: 1rem !important; }
  .sm-pad-left-1 { padding-left: 1rem !important; }
  .sm-pad-right-1 { padding-right: 1rem !important; }
  .sm-pad-sides-1 { padding-left: 1rem !important; padding-right: 1rem !important; }
  .sm-pad-1 { padding: 1rem !important; }
  .sm-spc-top-1 { margin-top: 1rem !important; }
  .sm-spc-bottom-1 { margin-bottom: 1rem !important; }
  .sm-spc-vert-1 { margin-top: 1rem !important; margin-bottom: 1rem !important; }
  .sm-spc-left-1 { margin-left: 1rem !important; }
  .sm-spc-right-1 { margin-right: 1rem !important; }
  .sm-spc-sides-1 { margin-left: 1rem !important; margin-right: 1rem !important; }
  .sm-spc-1 { margin: 1rem !important; padding: 1rem !important; }
  .sm-pad-top-2 { padding-top: 2rem !important; }
  .sm-pad-bottom-2 { padding-bottom: 2rem !important; }
  .sm-pad-vert-2 { padding-top: 2rem !important; padding-bottom: 2rem !important; }
  .sm-pad-left-2 { padding-left: 2rem !important; }
  .sm-pad-right-2 { padding-right: 2rem !important; }
  .sm-pad-sides-2 { padding-left: 2rem !important; padding-right: 2rem !important; }
  .sm-pad-2 { padding: 2rem !important; }
  .sm-spc-top-2 { margin-top: 2rem !important; }
  .sm-spc-bottom-2 { margin-bottom: 2rem !important; }
  .sm-spc-vert-2 { margin-top: 2rem !important; margin-bottom: 2rem !important; }
  .sm-spc-left-2 { margin-left: 2rem !important; }
  .sm-spc-right-2 { margin-right: 2rem !important; }
  .sm-spc-sides-2 { margin-left: 2rem !important; margin-right: 2rem !important; }
  .sm-spc-2 { margin: 2rem !important; padding: 2rem !important; }
  .sm-pad-top-3 { padding-top: 3rem !important; }
  .sm-pad-bottom-3 { padding-bottom: 3rem !important; }
  .sm-pad-vert-3 { padding-top: 3rem !important; padding-bottom: 3rem !important; }
  .sm-pad-left-3 { padding-left: 3rem !important; }
  .sm-pad-right-3 { padding-right: 3rem !important; }
  .sm-pad-sides-3 { padding-left: 3rem !important; padding-right: 3rem !important; }
  .sm-pad-3 { padding: 3rem !important; }
  .sm-spc-top-3 { margin-top: 3rem !important; }
  .sm-spc-bottom-3 { margin-bottom: 3rem !important; }
  .sm-spc-vert-3 { margin-top: 3rem !important; margin-bottom: 3rem !important; }
  .sm-spc-left-3 { margin-left: 3rem !important; }
  .sm-spc-right-3 { margin-right: 3rem !important; }
  .sm-spc-sides-3 { margin-left: 3rem !important; margin-right: 3rem !important; }
  .sm-spc-3 { margin: 3rem !important; padding: 3rem !important; } }

@media (max-width: 535px) { .xs-pad-top { padding-top: 0.5rem !important; }
  .xs-pad-bottom { padding-bottom: 0.5rem !important; }
  .xs-pad-vert { padding-top: 0.5rem !important; padding-bottom: 0.5rem !important; }
  .xs-pad-left { padding-left: 0.5rem !important; }
  .xs-pad-right { padding-right: 0.5rem !important; }
  .xs-pad-sides { padding-left: 0.5rem !important; padding-right: 0.5rem !important; }
  .xs-pad { padding: 0.5rem !important; }
  .xs-spc-top { margin-top: 0.5rem !important; }
  .xs-spc-bottom { margin-bottom: 0.5rem !important; }
  .xs-spc-vert { margin-top: 0.5rem !important; margin-bottom: 0.5rem !important; }
  .xs-spc-left { margin-left: 0.5rem !important; }
  .xs-spc-right { margin-right: 0.5rem !important; }
  .xs-spc-sides { margin-left: 0.5rem !important; margin-right: 0.5rem !important; }
  .xs-spc { margin: 0.5rem !important; padding: 0.5rem !important; }
  .xs-pad-top-1 { padding-top: 1rem !important; }
  .xs-pad-bottom-1 { padding-bottom: 1rem !important; }
  .xs-pad-vert-1 { padding-top: 1rem !important; padding-bottom: 1rem !important; }
  .xs-pad-left-1 { padding-left: 1rem !important; }
  .xs-pad-right-1 { padding-right: 1rem !important; }
  .xs-pad-sides-1 { padding-left: 1rem !important; padding-right: 1rem !important; }
  .xs-pad-1 { padding: 1rem !important; }
  .xs-spc-top-1 { margin-top: 1rem !important; }
  .xs-spc-bottom-1 { margin-bottom: 1rem !important; }
  .xs-spc-vert-1 { margin-top: 1rem !important; margin-bottom: 1rem !important; }
  .xs-spc-left-1 { margin-left: 1rem !important; }
  .xs-spc-right-1 { margin-right: 1rem !important; }
  .xs-spc-sides-1 { margin-left: 1rem !important; margin-right: 1rem !important; }
  .xs-spc-1 { margin: 1rem !important; padding: 1rem !important; }
  .xs-pad-top-2 { padding-top: 2rem !important; }
  .xs-pad-bottom-2 { padding-bottom: 2rem !important; }
  .xs-pad-vert-2 { padding-top: 2rem !important; padding-bottom: 2rem !important; }
  .xs-pad-left-2 { padding-left: 2rem !important; }
  .xs-pad-right-2 { padding-right: 2rem !important; }
  .xs-pad-sides-2 { padding-left: 2rem !important; padding-right: 2rem !important; }
  .xs-pad-2 { padding: 2rem !important; }
  .xs-spc-top-2 { margin-top: 2rem !important; }
  .xs-spc-bottom-2 { margin-bottom: 2rem !important; }
  .xs-spc-vert-2 { margin-top: 2rem !important; margin-bottom: 2rem !important; }
  .xs-spc-left-2 { margin-left: 2rem !important; }
  .xs-spc-right-2 { margin-right: 2rem !important; }
  .xs-spc-sides-2 { margin-left: 2rem !important; margin-right: 2rem !important; }
  .xs-spc-2 { margin: 2rem !important; padding: 2rem !important; }
  .xs-pad-top-3 { padding-top: 3rem !important; }
  .xs-pad-bottom-3 { padding-bottom: 3rem !important; }
  .xs-pad-vert-3 { padding-top: 3rem !important; padding-bottom: 3rem !important; }
  .xs-pad-left-3 { padding-left: 3rem !important; }
  .xs-pad-right-3 { padding-right: 3rem !important; }
  .xs-pad-sides-3 { padding-left: 3rem !important; padding-right: 3rem !important; }
  .xs-pad-3 { padding: 3rem !important; }
  .xs-spc-top-3 { margin-top: 3rem !important; }
  .xs-spc-bottom-3 { margin-bottom: 3rem !important; }
  .xs-spc-vert-3 { margin-top: 3rem !important; margin-bottom: 3rem !important; }
  .xs-spc-left-3 { margin-left: 3rem !important; }
  .xs-spc-right-3 { margin-right: 3rem !important; }
  .xs-spc-sides-3 { margin-left: 3rem !important; margin-right: 3rem !important; }
  .xs-spc-3 { margin: 3rem !important; padding: 3rem !important; } }

.show { display: inherit; }

.hide { display: none; }

.sm-show, xs-show { display: none; }

@media (max-width: 767px) { .sm-show { display: inherit; }
  .sm-hide { display: none; } }

@media (max-width: 535px) { .xs-show { display: inherit; }
  .xs-hide { display: none; } }
