.home .banner-area .upper-text-area {
  padding: 155px 0 65px;
}

.home .banner-area .lower-text-area {
  background-color: rgba(35, 114, 185, 0.85);
  background-image: url(../img/blue-banner-bg.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 837px auto;
  padding: 26px 0 21px;
}